.block {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
  margin: 0;
}

.hours {
  font-style: italic;
  margin: 0;
}
